/**
 * RESET
 */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utils */
/* https://24ways.org/2018/managing-flow-and-rhythm-with-css-custom-properties/ */

.flow {
    --flow-space: 1em;
}

.flow > * + * {
    margin-top: var(--flow-space);
  }

/* 
* GLOBAL
 */

 :root {
    --metric-gutter: 1.5rem;
    --metric-mini-gutter: 0.8rem;
    --metric-gutter-neg: -1.5rem;
    --metric-mini-gutter-neg: -0.8rem;
    --color-dark: #1E4147;
    --color-light: #FAE3B4;
    --color-text: var(--color-dark);
    --color-bg: var(--color-light);
    --color-text-rev: var(--color-light);
    --color-bg-rev: var(--color-dark);

 }
 @media (prefers-color-scheme: dark) {
    :root:not([data-user-color-scheme]) {
      --color-mode: 'dark';
      --color-text: var(--color-light);
      --color-bg: var(--color-dark);
      --color-text-rev: var(--color-dark);
      --color-bg-rev: var(--color-light);
    }
  }

  body {
    color: var(--color-text);
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    font-family: 'Yaldevi', sans-serif;;
  }

  button:active {
    transform: scale(0.99);
  }

  h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1;
}

ul {
  padding-left: 1rem;
}

li + li {
  margin-top: 0.5rem;
}

sup {
  font-weight: 400;
  line-height: 0.75;
  font-size: 0.6em;
}

label {
  font-size: 1rem;
  font-weight: 400;
}
.site-head {
    padding: var(--metric-mini-gutter) var(--metric-gutter);
    border-bottom: 1px solid;
  }
  
  .site-head h1 {
    margin-bottom: 0.2rem;
  }

  /**
 * Info block
 */
.info {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: var(--metric-gutter);
    outline: 0.25px solid;
    transition: opacity 500ms linear;
    transition-delay: 100ms;
  }
  
  .info p {
    max-width: 60ch;
    font-size: 0.75rem;
  }
  
  [data-state='focus'] .info {
    opacity: 0.5;
  }

  .title {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: var(--metric-gutter);
    /* outline: 0.25px solid; */
    transition: opacity 500ms linear;
    transition-delay: 100ms;
  }
  .title h1 {
    max-width: 60ch;
  }

  /**
 * Button block
 */
.button:not([hidden]) {
    display: inline-block;
  }
  
  .button {
    border: 1px solid currentColor;
    padding: 0.5rem 1rem;
    background: var(--color-light);
    color: var(--color-dark);
    font-size: 1rem;
    cursor: pointer;
  }
  
  .button:focus {
    outline: 1px solid var(--color-dark);
    outline-offset: -0.4rem;
  }
  
  .button:hover {
    filter: invert(1);
  }